BR2_PACKAGE_BOOTRR=y
BR2_PACKAGE_TPM2_TOOLS=y
BR2_PACKAGE_UTIL_LINUX_DMESG=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_KERNELCI_PATH)/board/kernelci/busybox-no-dmesg.config"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_KERNELCI_PATH)/board/kernelci/base/rootfs_overlay $(BR2_EXTERNAL_KERNELCI_PATH)/board/kernelci/baseline/rootfs_overlay"
